
body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
  }
  
.freebirdFormviewerViewFooterEmbeddedDisclaimer {
    display: none!important;
} 

.form.freebirdFormviewerViewNavigationPasswordWarning {
    display: none !important;
}

.form.freebirdFormviewerViewFooterEmbeddedBackground {
    display: none !important;
}