.freebirdFormviewerViewFooterEmbeddedDisclaimer {
    display: none!important;
} 

.form.freebirdFormviewerViewNavigationPasswordWarning {
    display: none !important;
}

.form.freebirdFormviewerViewFooterEmbeddedBackground {
    display: none !important;
}